.Container_SearchList {
    background-color: white;
    width: 90.75%;
    position: absolute;
    top: 2.7rem;
    max-height: 300px; 
    overflow-y: auto;
    z-index: 91;
}

.titleItem {
    margin: 0;
    padding: 0.5rem;
    cursor: pointer;
    color: black; /* Ensure text is visible */
}

.titleItem:hover {
    background-color: rgba(166, 202, 234, 0.516);
}
